<p [routerLink]="['/']">

</p>
<br/>
<br/>
<br/>

<div >

  <label>Login:</label>
    <input type="text" name="login" >
  
  <label>Password:</label>
    <input type="password" appHomePassord >
  <br/>
  <button (click)="login(book.id)">
    Login
  </button>
  <br/>
  <br/>
  <a >
        Register New User
  </a>

</div>


<!--
<div id="app">
  <div id="wrap">
      <div id="outlet">
          <router-outlet></router-outlet>
            <button (click)="login(book.id)">
            Login
            </button>
      </div>
      <div id="loading" *ngIf="data.Loading">
          <h2>Loading...</h2>
      </div>
  </div>
</div>
-->